<div class="container align-middle mt-5">
  <h1>
    Stupid Coaching
  </h1>

  <div class="container mt-5 pt5" id="Question">
    <h2>
      <%= @user_answer %>
    </h2>
    <p> -You</p>
  </div>

  <div class="container mt-4 pt5" id="Answer">
    <h2>
      <%= @msg %>
    </h2>
    <p> -Coach</p>
  </div>

  <p>
    <%=  link_to "Ask a new question", ask_path %>
  </p>
</div>
