<div class="container align-middle pt-5">
  <h1>
    Stupid Coaching
  </h1>
  <h3>
    Ask your coach anything:
  </h3>
  <form action="/answer">
    <div class="form-group">
      <input type="text" class="form-control" name="user_answer" method="get" placeholder="Ask here...">
      <button type="submit" value="Ask!" class="btn btn-primary mt-2">submit!</button>
    </div>
  </form>
</div>
